{% extends 'app/base.html' %}
{% load static %}
{% block title %}Product Detail{% endblock title %}
{% block main-content %}
<div class="container my-5" style="background:none;background-color:none">
 <div class="row">
  <div class="col-sm-6 text-center align-self-center">
   <img src="{{product.product_image.url}}" alt="" class="img-fluid  ">
  </div>
  <div class="col-sm-5 offset-sm-1">
   <h2>{{product.title}}</h2>
   <hr>
   <p class="desc">{{product.description}}</p> <br>
   <h4 class="price-sub"> &#8377; {{product.discounted_price}} /month </h4> <br>

   



   <a href="{% url 'checkout' product.id %}" id="sub-btn" class="btn btn-warning shadow px-5 py-2 ms-4">SUBSCRIBE</a>
   
  </div>
 </div>
</div>
{% endblock main-content %}